.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  padding: 0 16px;
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}

.select {
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1;
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 16px;
  z-index: -1;
}
