@import 'styles/_vars.scss';

.container {
  &.day {
    & > div {
      height: 50px;
      border-radius: 8px;
      padding-left: 20px;
      &:nth-child(odd) {
        background-color: lighten($color-blue-light, 26%);
      }
    }
  }
  &.night {
    & > div {
      height: 50px;
      border-radius: 8px;
      padding-left: 20px;
      &:nth-child(odd) {
        background-color: #35364a;
      }
    }
  }
}


// .row {
//   margin-bottom: 30px;
//   & > * {
//     margin-right: 30px;
//     &:last-child {
//       margin-right: 0;
//     }
//   }
//   @media (max-width: 440px) {
//     flex-direction: column;
//     margin-bottom: 0;
//   }
// }
