@import 'styles/_vars.scss';

.container {
  margin: 0 32px;
  cursor: pointer;
  @media (max-width: 440px) {
    margin: 0 10px;
  }
}

.marker {
  width: 1em;
  height: 1em;
  font-size: 24px;
  fill: $color-blue-light;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  box-shadow: $boxshadow-cont;
  @media (max-width: 440px) {
    display: none;
  }
}

.popover {
  width: 200px;
}

.lang {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid rgba($color-span, .1);
  &:last-child {
    border: none;
  }
}
