@import 'styles/_vars.scss';

.span {
  margin-top: 34px;
  color: #6b6d82;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.digits {
  margin-bottom: 34px;
}

.input {
  padding: 12px;
  width: 100%;
  border: 1px solid rgba(#808080, 0.3);
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: white;
  }
}
